* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    padding: 2rem;
}

header {
    background-color: black;
    color: rgb(0, 0, 0);
    padding: 1rem 0;
    text-align: center;
}

.titulo {
    font-size: 4rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.items-nav {
    border: 2px solid #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
}

.parrafo-nosotros {
    max-width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-left: 5px solid #0a9396;
    font-size: 1.2rem;
    color: #222;
    line-height: 1.8;
    text-align: justify;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

.servicios {
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;

}

.contenido {
    background-color: rgb(133, 183, 183);
}

.premium {
    color: rgb(243, 220, 90);
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    padding-top: 2rem;
}

.basico {
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    padding-top: 2rem;
}

ul {
    color: black;
    list-style-type: none;
    padding-left: 0;
}


.totales_dolares ul li {
    display: flex;
    justify-content: center;
    text-align: center;

}

.condiciones {
    color: red;
    margin: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.condiciones_2 {
    color: red;
    margin: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto{
    margin: 3rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

.contacto h2{
color: #0a9396;
}

.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2rem;
    text-align: center;
}

.producto a{
    text-decoration: none;
    color: #0a9396;
}

.producto a:hover{
    text-decoration: none;
    color: #000000;
}

.tienda_contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto_descripcion{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

}

.img{
max-width: 300px;
max-height: 400px;
}

/* Contacto */

.contacto_form{
    margin: 5rem auto;
    background-color: #0a9396;
    padding: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.contacto_input{
    background-color: #ffffff;
    padding: 1rem;
}

.btn_enviar{
    background-color: #000000;
    color: white;
    height: 40px;
    font-weight: 600;

}

.btn_enviar:hover{
    background-color: #f4fd97;
    color: rgb(0, 0, 0);

}